<p>
<% type = :details if type.nil? %>
<% if type == :details %>
詳細表示<br />
<% end %>
<%= book.title %><br />
<%= book.publish %>発行<br/>
定価 <%= book.price %>円（税込）<br />
ISBN <%= book.isbn %><br />
発刊日： <%= book.published %>
</p>
